<h1>Logga in här</h1>

<form action="/login" method="POST">
    <input type="text" id="name" name="name" required>
    <input type="password" id="password" name="password" required>
    <button type="submit">Logga in</button>
</form>

